{% extends './layouts/header.html' %}
{% block content %}
<!-- 게시글 목록이 나올 예정 -->
<br>
{% for post in posts %}
<div class="d-flex align-items-center flex-column">
    <a href="{{ post.id }}">
        <h3>{{ post.title }}</h3>
    </a>
    <small>{{ post.date }}</small>
    <hr width="40%">
</div>
<br>
{% endfor %}

<!-- 페이지네이션 -->
<div class="d-flex align-items-center flex-column">
    {% if posts.has_previous %}
    <a href="?page=1">첫 페이지</a>
    <a href="?page={{posts.previous_page_number}}">이전페이지</a>
    {% endif %}

    <span> {{ posts.number }} / {{ posts.paginator.num_pages}} </span>

    {% if posts.has_next %}
    <a href="?page={{posts.next_page_number}}">다음 페이지</a>
    <a href="?page={{posts.paginatior.num_pages}}">마지막 페이지</a>
    {% endif %}
</div>
{% endblock %}